#header{
    width: calc(100% - 6rem);
    padding: 0 3rem;
    background: #000;
    font-size: 1.2rem;
    border-radius: 0 0 2.5rem 2.5rem;
    position: fixed;
    z-index: 99999;
    display: flex;
    font-weight: lighter;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    right: 0;


    @media (max-width: 600px) {
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem;

    }
 

    > a{
        position: relative;
        text-transform: uppercase;
        color: white;
        text-decoration: none;

        span{
            
            &:nth-child(1){animation: fadeIn 0.3s ease-in-out 0s both; font-size: 2.2rem; position: absolute; left: 0rem; top: -0.75rem;}
            &:nth-child(2){animation: fadeIn 0.3s ease-in-out 0.3s both; font-size: 2.2rem; position: absolute; left: 1rem; bottom: -0.75rem;}
            &:nth-child(3){animation: fadeIn 0.3s ease-in-out 0.6s both; position: relative; left: 2.5rem;}

    @media (max-width: 600px) {
            &:nth-child(1){animation: fadeIn 0.3s ease-in-out 0s both; font-size: 2.2rem; position: absolute; left: -1rem; top: -1.8rem;}
            &:nth-child(2){animation: fadeIn 0.3s ease-in-out 0.3s both; font-size: 2.2rem; position: absolute; left: -0.2rem; bottom: -1.3rem;}
            &:nth-child(3){animation: fadeIn 0.3s ease-in-out 0.6s both; position: relative; display: none; font-size: 1rem; left: 0.2rem;}

    }
        }

        @keyframes fadeIn {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }

    .nav{
        list-style: none;
        display: flex;

        li{
            margin-right: 2rem;

            &:last-child{margin: 0;}

            a{
                text-decoration: none;
                color: #999;
                font-size: 1.3rem;
                transition: .3s ease-in-out;
            }
            a:hover{
                color:#fff;
            }
        }
    }
}
