#Main{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    content-visibility: auto;
    .leftText{
        position: absolute;
        top: 5rem;
        left: 15rem;
        font-size: 4rem;
        z-index: 999;
        color: #2d6b39;
        display: none;


    }
    .rightText{
        position: absolute;
        top: 10rem;
        right: 15rem;
        font-size: 4rem;
        z-index: 999;
        color: #2d6b39;
        display: none;
    }

    .left{
        position: absolute;
        width: 300px;
        top: 15rem;
        height: 450px;
    }

    .right{
        position: absolute;
        width: 300px;
        top: 21rem;
        height: 450px;
        left: 100;
        right: 0;
        border-radius: 1rem;
        
    }
    .center{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
         

        .centerImg{
            //padding-top:1rem ;
            width: 550px;
            height: 850px;
            border-radius: 1rem;

            .nextImg{
                display: none;
            }

            img{
                border-radius: 0.5rem;
                position: relative;

            }
        }
    }

    #mainBrands{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h1{
            padding-top: 1rem;
            font-size: 3rem;
             color: #162207

        }
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            >div{
                display: flex;
                flex-direction: column;
                width: 10rem;
                align-items: center;
                font-size: 2.5rem;
                margin: 3rem;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: #000;
                }
                span{
                    width: 100%;
                    padding: 1rem;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

    }

    
    @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    
    .center{
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: center;
        text-align: center;
       
        .centerImg{
            width: 100%;
            //height: auto;
            height: 600px;

            .nextImg{
                display: block;
            }
        }
        
    }
    #mainBrands{
         h1{
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 2rem;
        }
        >div{
        display: flex;
        justify-content: center;
        //flex-direction: column;
        flex-wrap: wrap;

        >div{
            width: 5rem;
            margin: 2rem;
            span{
                padding: 0;
                margin: 0;
            }
        }
        }
        
        
    }

    }
}