#overlay{
background: #fafafa;
  width: 60%;
  height: 70%;
  border-radius: 0.2rem;
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-around;
  text-align: left;
  position: fixed;
  color: #000;
  .imageGallery{
    padding-top: 1rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 1px solid #CCCCCC;

    .swipeImg{
    display: flex;
    justify-content: center;
    background:#fafafa;
    border-radius: 0.1rem;
    width: 100%;
    padding-right: 1rem;
    height: 100%;

    }
  }
  .productView{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    strong{
    font-size: 0.8rem;
    color: #000;
    width: 6rem;
}
    }
    h1{
      font-size: 1.6rem;
    
    }
    .articleNm{
      font-size: 0.7rem;
      padding-bottom: 0.5rem;
      color: #4f4f4f;
    }
    .description{
    border-top: 1px solid #CCCCCC;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
   
    span{
    font-size: 0.7rem;
    }
    }
    .color{
    border-top: 1px solid #CCCCCC;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    span{
    font-size: 0.7rem;
    }
    }
    .sizes{
      border-top: 1px solid #CCCCCC ;
      display: flex;
      align-items: center;
     >div{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      }
      span{
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 0.3rem;
        background: #fff;
        border: 1px solid #CCCCCC;
      }
    }
    .priceView{
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      padding-top: 0.5rem;
      align-items: center;
      /* flex-direction: row; */
      border-top: 1px dotted #CCCCCC;
      h1{
        font-size: 1.6rem;
        color: #0e191f;
      }
      h1:hover{
        color: #000000;
        transition: .3s ease-in-out;
      }
      button{
        height: 3rem;
        width: 45%;
        border-radius: 3rem;
        border: none;
        //background: #2d6b39;
        background: #0C0A00;
        a{
              color: #fff;
              text-decoration: none;
              font-size: 1.3rem;
        }
        a:hover{
          color: #fafafa;
        }
      }
      button:hover{
        //background: #8AFF8A;
        background: #0e191f;
        transition: .3s ease-in-out;
      }
      button:focus{
        outline: none;
      }
    }
    .merInfo{
      margin-top: 1rem;
      height: 3rem;
      border: 1px solid #CCCCCC;
      display: flex;
      justify-content: space-between;
      border-radius: 0.5rem;
      div{
        text-align: center;
        width: 40%;
      }
    }

    @media (max-width : 600px) {
    background: #fafafa;
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .imageGallery{
    padding-top: 1rem;
    width: 100%;
    padding-right: 0;
    

    .swipeImg{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0;
    }
  }
  .productView{
    width: 100%;
    h1{
      padding-top: 0;
    }
  }
  .description{
    display: none;
  }
    }
  }

