#brands{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    >h1{
        padding-top: 5rem;
    }
    >div{
        height: 100%;
        width: 100;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        >div{
            height: 15rem;
            width:20rem;
            margin: 1rem;
            border: 1px solid #ccc;
            background-size: cover;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;   
            //background: linear-gradient(45deg,#62db5791,#b4ef9d);
            button{
                height: 2rem;
                width: 8rem;
                border: none;
                border-radius: 0.2rem;
                margin-top: 1rem;
                background: #060D0D;
                color: aliceblue;
            }
        
        }
         button:hover {
                    outline: none;
                    //background: #53de6f;
                    background: #0e191f;
                    box-shadow: 0 5px 15px #00000066;
      
                }
   
    }
}